<div class="column gap center wrapper">
	<div class="column gap fields">
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>名称</mat-label>
			<input matInput aria-label="名称" #name autocomplete="off"/>
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>描述</mat-label>
			<textarea matInput aria-label="描述" cdkTextareaAutosize #description autocomplete="off"></textarea>
		</mat-form-field>
	</div>
	<div class="spacing"></div>
	<app-large-tile icon="ios_share" [clickable]="true" [disabled]="!name.value || !description.value" (clicked)="export(name.value, description.value)">
		<h2>导出</h2>
		<div>与全世界分享你的作品</div>
	</app-large-tile>
	<div class="spacing"></div>
	<div class="column gap-small center">
		<div>你的资源包将以 ZIP 文件的形式保存到以下目录：</div>
		<code>{{ getExportDirectory() }}</code>
	</div>
</div>
