<h2 mat-dialog-title>模型属性</h2>
<mat-dialog-content>
	<form class="column gap" [formGroup]="formGroup">
		<div>主要资源</div>
		<app-autocomplete label="模型资源" [parentFormGroup]="formGroup" childFormControlName="modelResource" [lists]="modelLists"/>
		<app-autocomplete label="贴图资源" [parentFormGroup]="formGroup" childFormControlName="textureResource" [lists]="textureLists"/>
		<div class="row gap center">
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>Y 偏移</mat-label>
				<input matInput type="number" aria-label="Y 偏移" formControlName="modelYOffset" step="0.5"/>
			</mat-form-field>
			<mat-checkbox formControlName="flipTextureV">翻转贴图 V 轴</mat-checkbox>
		</div>

		@if (hasGangway) {
			<div>贯通道</div>
			<app-autocomplete label="内侧贴图资源" [parentFormGroup]="formGroup" childFormControlName="gangwayInnerSideResource" [lists]="textureLists"/>
			<app-autocomplete label="内上方贴图资源" [parentFormGroup]="formGroup" childFormControlName="gangwayInnerTopResource" [lists]="textureLists"/>
			<app-autocomplete label="内下方贴图资源" [parentFormGroup]="formGroup" childFormControlName="gangwayInnerBottomResource" [lists]="textureLists"/>
			<app-autocomplete label="外侧贴图资源" [parentFormGroup]="formGroup" childFormControlName="gangwayOuterSideResource" [lists]="textureLists"/>
			<app-autocomplete label="外上方贴图资源" [parentFormGroup]="formGroup" childFormControlName="gangwayOuterTopResource" [lists]="textureLists"/>
			<app-autocomplete label="外下方贴图资源" [parentFormGroup]="formGroup" childFormControlName="gangwayOuterBottomResource" [lists]="textureLists"/>
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>宽度</mat-label>
					<input matInput type="number" aria-label="宽度" formControlName="gangwayWidth" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>高度</mat-label>
					<input matInput type="number" aria-label="高度" formControlName="gangwayHeight" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>Y 偏移</mat-label>
					<input matInput type="number" aria-label="Y 偏移" formControlName="gangwayYOffset" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>Z 偏移</mat-label>
					<input matInput type="number" aria-label="Z 偏移" formControlName="gangwayZOffset" step="0.1"/>
				</mat-form-field>
			</div>
		}

		@if (hasBarrier) {
			<div>挡板</div>
			<app-autocomplete label="内侧贴图资源" [parentFormGroup]="formGroup" childFormControlName="barrierInnerSideResource" [lists]="textureLists"/>
			<app-autocomplete label="内上方贴图资源" [parentFormGroup]="formGroup" childFormControlName="barrierInnerTopResource" [lists]="textureLists"/>
			<app-autocomplete label="内下方贴图资源" [parentFormGroup]="formGroup" childFormControlName="barrierInnerBottomResource" [lists]="textureLists"/>
			<app-autocomplete label="外侧贴图资源" [parentFormGroup]="formGroup" childFormControlName="barrierOuterSideResource" [lists]="textureLists"/>
			<app-autocomplete label="外上方贴图资源" [parentFormGroup]="formGroup" childFormControlName="barrierOuterTopResource" [lists]="textureLists"/>
			<app-autocomplete label="外下方贴图资源" [parentFormGroup]="formGroup" childFormControlName="barrierOuterBottomResource" [lists]="textureLists"/>
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>宽度</mat-label>
					<input matInput type="number" aria-label="宽度" formControlName="barrierWidth" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>高度</mat-label>
					<input matInput type="number" aria-label="高度" formControlName="barrierHeight" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>Y 偏移</mat-label>
					<input matInput type="number" aria-label="Y 偏移" formControlName="barrierYOffset" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>Z 偏移</mat-label>
					<input matInput type="number" aria-label="Z 偏移" formControlName="barrierZOffset" step="0.1"/>
				</mat-form-field>
			</div>
		}
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="onSave()" cdkFocusInitial>保存</button>
	<button mat-button (click)="onCancel()">取消</button>
</mat-dialog-actions>
