<h2 mat-dialog-title>模型部件</h2>
<mat-dialog-content>
	<form class="column gap" [formGroup]="formGroup">
		<div>基本信息</div>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>名称</mat-label>
			<mat-select formControlName="name">
				@for (name of modelPartNames; track $index) {
					<mat-option [value]="name">{{ name }}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>显示条件</mat-label>
			<mat-select formControlName="condition">
				<mat-option value="NORMAL">普通</mat-option>
				<mat-option value="AT_DEPOT">在车辆段</mat-option>
				<mat-option value="ON_ROUTE_FORWARDS">行驶中（前进）</mat-option>
				<mat-option value="ON_ROUTE_BACKWARDS">行驶中（后退）</mat-option>
				<mat-option value="DOORS_CLOSED">车门已关闭</mat-option>
				<mat-option value="DOORS_OPENED">车门已开启</mat-option>
				<mat-option value="CHRISTMAS_LIGHT_RED">圣诞彩灯（红色）</mat-option>
				<mat-option value="CHRISTMAS_LIGHT_YELLOW">圣诞彩灯（黄色）</mat-option>
				<mat-option value="CHRISTMAS_LIGHT_GREEN">圣诞彩灯（绿色）</mat-option>
				<mat-option value="CHRISTMAS_LIGHT_BLUE">圣诞彩灯（蓝色）</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>类型</mat-label>
			<mat-select formControlName="type">
				<mat-option value="NORMAL">普通</mat-option>
				<mat-option value="DISPLAY">显示屏</mat-option>
				<mat-option value="FLOOR">地板</mat-option>
				<mat-option value="DOORWAY">门位</mat-option>
				<mat-option value="SEAT">座椅</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>位置</mat-label>
			<textarea matInput aria-label="位置" cdkTextareaAutosize (focusout)="formatPositions()" formControlName="positions" autocomplete="off"></textarea>
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>镜像位置</mat-label>
			<textarea matInput aria-label="位置" cdkTextareaAutosize (focusout)="formatPositions()" formControlName="positionsFlipped" autocomplete="off"></textarea>
		</mat-form-field>
		@if (isNormal()) {
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>渲染层级</mat-label>
				<mat-select formControlName="renderStage">
					<mat-option value="LIGHT">灯光</mat-option>
					<mat-option value="ALWAYS_ON_LIGHT">灯光（常亮）</mat-option>
					<mat-option value="INTERIOR">内部</mat-option>
					<mat-option value="INTERIOR_TRANSLUCENT">内部（半透明）</mat-option>
					<mat-option value="EXTERIOR">外部</mat-option>
				</mat-select>
			</mat-form-field>
		}

		<div>车门运动</div>
		<div class="row gap">
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>车门 X 系数</mat-label>
				<input matInput type="number" aria-label="车门 X 系数" formControlName="doorXMultiplier" step="1"/>
			</mat-form-field>
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>车门 Z 系数</mat-label>
				<input matInput type="number" aria-label="车门 Z 系数" formControlName="doorZMultiplier" step="1"/>
			</mat-form-field>
		</div>
		@if (hasDoorMultiplier()) {
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>车门动画类型</mat-label>
				<mat-select formControlName="doorAnimationType">
					<mat-option value="STANDARD">标准</mat-option>
					<mat-option value="STANDARD_SLOW">标准（慢速）</mat-option>
					<mat-option value="CONSTANT">匀速</mat-option>
					<mat-option value="PLUG_FAST">塞拉门（快）</mat-option>
					<mat-option value="PLUG_SLOW">塞拉门（慢速 1）</mat-option>
					<mat-option value="PLUG_SLOW_2">塞拉门（慢速 2）</mat-option>
					<mat-option value="PLUG_SLOW_3">塞拉门（慢速 3）</mat-option>
					<mat-option value="BOUNCY_1">弹跳（1）</mat-option>
					<mat-option value="BOUNCY_2">弹跳（2）</mat-option>
					<mat-option value="MLR">MLR</mat-option>
					<mat-option value="R179">R179</mat-option>
					<mat-option value="R211">R211</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>开门起始时间（毫秒）</mat-label>
					<input matInput type="number" aria-label="开门起始时间（毫秒）" formControlName="renderFromOpeningDoorTime" min="0" step="100"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>开门结束时间（毫秒）</mat-label>
					<input matInput type="number" aria-label="开门结束时间（毫秒）" formControlName="renderUntilOpeningDoorTime" min="0" step="100"/>
				</mat-form-field>
			</div>
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>关门起始时间（毫秒）</mat-label>
					<input matInput type="number" aria-label="关门起始时间（毫秒）" formControlName="renderFromClosingDoorTime" min="0" step="100"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>关门结束时间（毫秒）</mat-label>
					<input matInput type="number" aria-label="关门结束时间（毫秒）" formControlName="renderUntilClosingDoorTime" min="0" step="100"/>
				</mat-form-field>
			</div>
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>闪烁亮灯时长（毫秒）</mat-label>
					<input matInput type="number" aria-label="闪烁亮灯时长（毫秒）" formControlName="flashOnTime" min="0" step="100"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>闪烁灭灯时长（毫秒）</mat-label>
					<input matInput type="number" aria-label="闪烁灭灯时长（毫秒）" formControlName="flashOffTime" min="0" step="100"/>
				</mat-form-field>
			</div>
		}

		@if (isDisplay()) {
			<div>显示屏</div>
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>类型</mat-label>
				<mat-select formControlName="displayType">
					<mat-option value="DESTINATION">目的地</mat-option>
					<mat-option value="ROUTE_NUMBER">线路号</mat-option>
					<mat-option value="DEPARTURE_INDEX">发车序号</mat-option>
					<mat-option value="NEXT_STATION">下一站</mat-option>
					<mat-option value="NEXT_STATION_KCR">下一站（九广铁路）</mat-option>
					<mat-option value="NEXT_STATION_MTR">下一站（港铁）</mat-option>
					<mat-option value="NEXT_STATION_UK">下一站（英式）</mat-option>
					<mat-option value="ROUTE_COLOR">线路颜色（方形）</mat-option>
					<mat-option value="ROUTE_COLOR_ROUNDED">线路颜色（圆角）</mat-option>
				</mat-select>
			</mat-form-field>
			@if (!isRouteColorDisplay()) {
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>默认文本</mat-label>
					<input matInput aria-label="默认文本" formControlName="displayDefaultText" autocomplete="off"/>
				</mat-form-field>
			}
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>X 内边距</mat-label>
					<input matInput type="number" aria-label="X 内边距" formControlName="displayXPadding" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>Y 内边距</mat-label>
					<input matInput type="number" aria-label="Y 内边距" formControlName="displayYPadding" step="0.1"/>
				</mat-form-field>
			</div>
			@if (!isRouteColorDisplay()) {
				<div class="row gap">
					<mat-form-field subscriptSizing="dynamic">
						<mat-label>颜色（中文文本）</mat-label>
						<input matInput type="color" aria-label="颜色（中文文本）" formControlName="displayColorCjk"/>
					</mat-form-field>
					<mat-form-field subscriptSizing="dynamic">
						<mat-label>颜色（非中文文本）</mat-label>
						<input matInput type="color" aria-label="颜色（非中文文本）" formControlName="displayColor"/>
					</mat-form-field>
				</div>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>最大行高</mat-label>
					<input matInput type="number" aria-label="最大行高" formControlName="displayMaxLineHeight" min="0" step="0.1"/>
				</mat-form-field>
				@if (isDepartureIndexDisplay()) {
					<mat-form-field subscriptSizing="dynamic">
						<mat-label>补零位数</mat-label>
						<input matInput type="number" aria-label="补零位数" formControlName="displayPadZeros" min="0" step="1"/>
					</mat-form-field>
				} @else {
					<mat-form-field subscriptSizing="dynamic">
						<mat-label>中文字号比例</mat-label>
						<input matInput type="number" aria-label="中文字号比例" formControlName="displayCjkSizeRatio" min="0" step="0.5"/>
					</mat-form-field>
				}
				<div class="column">
					<mat-checkbox formControlName="displayOptionSingleLine">单行显示</mat-checkbox>
					<mat-checkbox formControlName="displayOptionUpperCase">转换为大写</mat-checkbox>
					<mat-checkbox formControlName="displayOptionSpaceCjk">短中文文本补空格</mat-checkbox>
					<mat-checkbox formControlName="displayOptionScrollNormal">滚动（普通）</mat-checkbox>
					<mat-checkbox formControlName="displayOptionScrollLightRail">滚动（轻铁式）</mat-checkbox>
					<mat-checkbox formControlName="displayOptionSevenSegment">数码管字体（仅数字）</mat-checkbox>
					<mat-checkbox formControlName="displayOptionAlignLeftCjk">左对齐（中文）</mat-checkbox>
					<mat-checkbox formControlName="displayOptionAlignRightCjk">右对齐（中文）</mat-checkbox>
					<mat-checkbox formControlName="displayOptionAlignLeft">左对齐（非中文）</mat-checkbox>
					<mat-checkbox formControlName="displayOptionAlignRight">右对齐（非中文）</mat-checkbox>
					<mat-checkbox formControlName="displayOptionAlignTop">顶部对齐</mat-checkbox>
					<mat-checkbox formControlName="displayOptionAlignBottom">底部对齐</mat-checkbox>
					<mat-checkbox formControlName="displayOptionCycleLanguages">轮换显示语言</mat-checkbox>
				</div>
			}
		}
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="onClose()" cdkFocusInitial>关闭</button>
</mat-dialog-actions>
