<div class="column gap wrapper">
	<div class="column center wrapper">
		<div class="spacing"></div>
		@if (hasData()) {
			<app-large-tile [clickable]="true" icon="undo" (clicked)="openResetDialog()">
				<h2>重置资源包创建器</h2>
				<div>这将清除所有进度和未保存的更改</div>
			</app-large-tile>
		} @else {
			<div class="row gap center">
				<app-large-tile [clickable]="true" icon="add" [disabled]="!!uploader.getFileNames()" (clicked)="create()">
					<h2>创建新资源包</h2>
					<div>尽情发挥你的创意</div>
				</app-large-tile>
				<mat-divider class="divider" vertical/>
				<app-large-tile [clickable]="true" icon="edit" [disabled]="!!uploader.getFileNames()" (clicked)="uploader.upload()">
					<h2>编辑现有资源包</h2>
					<div>打造属于你的资源包</div>
				</app-large-tile>
			</div>
		}
		<div class="spacing"></div>
		<div class="uploader">
			<app-uploader #uploader [fileExtensions]="['zip']" [allowMultiple]="false" endpoint="upload/zip" (uploaded)="upload()"/>
		</div>
	</div>
</div>
