<h2 mat-dialog-title>模型部件</h2>
<mat-dialog-content>
	<table mat-table [dataSource]="dataSource">
		@for (column of allColumns; track $index) {
			<ng-container [matColumnDef]="column.id" [sticky]="$index === 0">
				<th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
				<td mat-cell *matCellDef="let modelPropertiesPart">{{ column.formatData(modelPropertiesPart) }}</td>
			</ng-container>
		}
		<ng-container matColumnDef="controls" stickyEnd>
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let modelPropertiesPart">
				<div class="row spacing gap-small">
					<button mat-icon-button (click)="edit(modelPropertiesPart)" matTooltip="编辑">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button (click)="delete(modelPropertiesPart)" matTooltip="删除">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumnNames; sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumnNames;"></tr>
	</table>
</mat-dialog-content>
<mat-dialog-actions>
	<form class="row gap center wide" [formGroup]="formGroup">
		<div class="spacing"></div>
		@if (hasNormal && (hasFloorOrDoorway || hasSeat || hasDisplay)) {
			<mat-checkbox (change)="filterData()" formControlName="showNormalParts">显示普通部件</mat-checkbox>
		}
		@if (hasFloorOrDoorway && (hasNormal || hasSeat || hasDisplay)) {
			<mat-checkbox (change)="filterData()" formControlName="showFloorsAndDoorways">显示地板与门位</mat-checkbox>
		}
		@if (hasSeat && (hasNormal || hasFloorOrDoorway || hasDisplay)) {
			<mat-checkbox (change)="filterData()" formControlName="showSeats">显示座椅</mat-checkbox>
		}
		@if (hasDisplay && (hasNormal || hasFloorOrDoorway || hasSeat)) {
			<mat-checkbox (change)="filterData()" formControlName="showDisplays">显示显示屏</mat-checkbox>
		}
		<div>
			<button mat-flat-button (click)="add()">
				<mat-icon>add</mat-icon>
					添加
			</button>
			<button mat-button (click)="onClose()" cdkFocusInitial>关闭</button>
		</div>
	</form>
</mat-dialog-actions>
